/* VARIABLES */

$color-fondo: #161411;
$color-titulo: antiquewhite;
$color-border: rgb(77, 23, 23);
$color-texto: rgb(123, 170, 155);
$color-footer: rgb(39, 38, 36);

/* MIXINS */

@mixin estilo-inputs {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 1rem;
  transition: border-color 0.3s;
}

/* EXTEND */

.btn-base {
  background-color: rgb(228, 163, 66);
  color: #161411;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUENTES */

@font-face {
  font-family: FuenteTitulo;
  src: url(../font/Revalia-Regular.ttf);
}

/* BODY */

body {
  background-color: $color-fondo;
  font-family: "Raleway", sans-serif;
}

/* ESTILOS GENERALES */

/* HEADER */

header {
  background-image: url(../images/cuerdas-guitarra-980x478.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px $color-border solid;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

/* FOOTER NESTING */
footer {
  background-color: $color-footer;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo info mapa"
    "copyright copyright copyright";
  gap: 1rem;
  align-items: center;
  color: $color-titulo;
  border-top: 3px $color-border solid;

  .logo-footer {
    grid-area: logo;
    width: 100px;
    border-radius: 100px;
    border: 2px #161411 solid;
    justify-self: center;
  }

  #maps {
    grid-area: mapa;
    width: 75%;
    height: 150px;
    border-radius: 10px;
  }

  .info-footer {
    grid-area: info;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    h2 {
      font-size: 18px;
      margin-bottom: 0.5rem;
    }

    .redes-footer,
    .contacto-footer {
      ul {
        list-style: none;
        padding: 0;
      }

      a,
      li {
        font-size: 16px;
        color: antiquewhite;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .ti {
    font-size: 1.5rem;
    color: rgb(228, 163, 66);
  }

  .copyright {
    grid-area: copyright;
    font-size: 0.8rem;
    justify-self: center;
    margin-top: 1rem;
  }
}

/* MAIN */

main {
  min-height: 100vh;
  padding-top: 150px;
}

/*PAGES */

/* INDEX NESTING */
.presentacion {
  padding: 3rem;

  h1 {
    color: $color-titulo;
    font-family: "FuenteTitulo";
    font-size: 45px;
  }

  p {
    color: $color-texto;
    padding: 1.5rem;
    font-size: 25px;
  }

  .contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    .container-texto {
      flex: 1;
      min-width: 300px;
    }

    .container-video {
      flex: 1;
      aspect-ratio: 16 / 9;
      min-width: 300px;
      height: 100%;

      .video-presentacion {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 8px;
      }
    }
  }
}
/* SOBRE MI NESTING */

.info-sobre-mi {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;

  .sobre-mi {
    display: flex;
    flex: 1;
    flex-direction: column;

    h1 {
      font-family: "FuenteTitulo";
      color: $color-titulo;
    }

    p {
      color: $color-texto;
      padding: 1.5rem;
      font-size: 22px;
    }

    .formacion {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      margin: 50px;
      gap: 1rem;

      h2 {
        font-family: "FuenteTitulo";
        color: $color-titulo;
        text-decoration: underline;
      }

      .estudios,
      .aprendizaje {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: #26221c;
        padding: 1rem;
        border-radius: 10px;
        color: $color-titulo;
        text-align: left;

        p {
          margin-right: 80px;
        }
      }
    }
  }

  .imagen-sobre-mi {
    display: flex;
    flex: 1;
    justify-content: center;
    align-self: center;
    height: 700px;
    padding: 1rem;

    img {
      border-radius: 2rem;
    }
  }
}

/*PRODUCTOS NESTING */
#productos {
  .titulos-productos {
    margin: 3rem;
  }

  h1 {
    color: $color-titulo;
    margin-bottom: 1rem;
  }

  h2 {
    color: $color-texto;
  }

  .grilla-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;

    .producto {
      background-color: #26221c;
      padding: 1rem;
      border-radius: 10px;
      color: $color-titulo;
      text-align: left;

      img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        color: $color-texto;
      }
    }
  }
}

/* SERVICIOS NESTING */

/*MAIN*/
#servicios {
  padding: 3rem;

  h1 {
    margin-bottom: 0.5rem;
    color: $color-titulo;
  }

  h2 {
    color: $color-texto;
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .grilla-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;

    .servicio {
      background-color: #26221c;
      padding: 1rem;
      border-radius: 10px;
      color: $color-titulo;
      text-align: left;

      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: $color-titulo;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
        color: $color-texto;
      }
    }
  }
}
/* CONTACTO NESTING */

#main-contacto {
  display: flex;
  justify-content: space-around;
}

.info-contacto p {
  color: $color-texto;
  padding: 1rem;
}

.info-contacto {
  display: grid;
  flex: 1;
  margin: 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}
.info-contacto h1 {
  font-size: 45px;
  margin-bottom: 80px;
  color: $color-titulo;
}

.nombre-contacto {
  font-size: 26px;
  font-weight: bold;
}

.dato-contacto {
  font-size: 20px;
  margin-left: 1.5rem;
}

.formulario-contacto {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 2rem;
  padding: 2rem;
  align-items: center;
}

form {
  display: grid;
  color: $color-titulo;
  margin: 1rem;
  padding: 1rem;
  gap: 2rem;
}

form button {
  @extend .btn-base;
}

form button:hover {
  background-color: rgb(243, 199, 123);
}

.fila-formulario {
  display: flex;
  gap: 3rem;
}

.campos {
  display: grid;
  gap: 1rem;
  font-size: 18px;
}

input,
textarea {
  @include estilo-inputs;
}

input:focus,
textarea:focus {
  border-color: #b67b4b;
  outline: none;
}

.contenedor-boton {
  display: flex;
  justify-content: end;
}

/* MEDIA QUERIES */

/*HEADER*/

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    background-image: url(../images/cuerdas-guitarra-980x478.png);
    background-size: cover;
    background-position: center;
    height: 9rem;
  }
}

/* FOOTER */
